// Grays

$gray-900: #262829;
$gray-500: #677175;
$gray-400: #8A99A0;
$gray-200: #CAD2D6;
$gray-100: #EFF2F3;

// Blues

$blue-700: #0053B3;
$blue-500: #0076FF;
$blue-400: #4D9FFF;
$blue-200: #B3D6FF;
$blue-100: #E5F1FF;
