html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font: 1.6rem/2.4rem 'bagatela', sans-serif;
  height: 100%;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-to,
.page-leave {
  opacity: 1;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s ease-in-out;
}
